---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<TWITCH_API_CLIENT_ID>","client_secret":"<TWITCH_API_CLIENT_SECRET>","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-66c537a7-79231a52157199d303cb8bc2
    body:
      encoding: UTF-8
      string: '{"access_token":"abcdefg123456790","expires_in":5520919,"token_type":"bearer"}

        '
  recorded_at: Wed, 21 Aug 2024 00:41:12 GMT
recorded_with: VCR 6.3.1
