---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<TWITCH_API_CLIENT_ID>","client_secret":"<TWITCH_API_CLIENT_SECRET>","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-66cbaf96-6a3f7bee6582af026d9c7f87
    body:
      encoding: UTF-8
      string: '{"access_token":"abcdefg1234567890","expires_in":4902336,"token_type":"bearer"}

        '
  recorded_at: Sun, 25 Aug 2024 22:26:31 GMT
recorded_with: VCR 6.3.1
