---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<TWITCH_API_CLIENT_ID>","client_secret":"<TWITCH_API_CLIENT_SECRET>","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-66cbaf96-175a31bb29d2d20d236b96e5
    body:
      encoding: UTF-8
      string: '{"access_token":"abcdefg1234567890","expires_in":4692467,"token_type":"bearer"}

        '
  recorded_at: Sun, 25 Aug 2024 22:26:30 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;
    headers:
      Client-Id:
      - "<TWITCH_API_CLIENT_ID>"
      Authorization:
      - Bearer abcdefg1234567890
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 131913,
            "name": "Maji Kyun! Renaissance"
          },
          {
            "id": 122801,
            "name": "Zhed"
          },
          {
            "id": 88308,
            "name": "Hey Duggee: The Big Outdoor App"
          },
          {
            "id": 95080,
            "name": "Dotra"
          },
          {
            "id": 104748,
            "name": "Space station - build your own ISS"
          },
          {
            "id": 89616,
            "name": "Bubble Whirl Shooter"
          },
          {
            "id": 91579,
            "name": "Racing Live"
          },
          {
            "id": 2711,
            "name": "Brain Age 2: More Training in Minutes a Day!"
          },
          {
            "id": 124961,
            "name": "Railroad Tycoon 2: Platinum Edition"
          },
          {
            "id": 119025,
            "name": "Pet Puzzle"
          }
        ]
  recorded_at: Sun, 25 Aug 2024 22:26:30 GMT
recorded_with: VCR 6.3.1
