---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<TWITCH_API_CLIENT_ID>","client_secret":"<TWITCH_API_CLIENT_SECRET>","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-66c5433f-2dcc3260044efaf03095eda3
    body:
      encoding: UTF-8
      string: '{"access_token":"abcdefg123456790","expires_in":5476329,"token_type":"bearer"}

        '
  recorded_at: Wed, 21 Aug 2024 01:30:39 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;
    headers:
      Client-Id:
      - "<TWITCH_API_CLIENT_ID>"
      Authorization:
      - Bearer abcdefg123456790
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 131913,
            "name": "Maji Kyun! Renaissance"
          },
          {
            "id": 122801,
            "name": "Zhed"
          },
          {
            "id": 88308,
            "name": "Hey Duggee: The Big Outdoor App"
          },
          {
            "id": 223741,
            "name": "Jurassic World Aftermath Collection"
          },
          {
            "id": 95080,
            "name": "Dotra"
          },
          {
            "id": 104748,
            "name": "Space station - build your own ISS"
          },
          {
            "id": 89616,
            "name": "Bubble Whirl Shooter"
          },
          {
            "id": 91579,
            "name": "Racing Live"
          },
          {
            "id": 124961,
            "name": "Railroad Tycoon 2: Platinum Edition"
          },
          {
            "id": 119025,
            "name": "Pet Puzzle"
          }
        ]
  recorded_at: Wed, 21 Aug 2024 01:30:40 GMT
recorded_with: VCR 6.3.1
