---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<TWITCH_API_CLIENT_ID>","client_secret":"<TWITCH_API_CLIENT_SECRET>","grant_type":"client_credentials"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-66cbd752-35a488c54774074918c9443d
    body:
      encoding: UTF-8
      string: '{"access_token":"abcdefg1234567890","expires_in":5235495,"token_type":"bearer"}

        '
  recorded_at: Mon, 26 Aug 2024 01:16:02 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;limit 1;
    headers:
      Client-Id:
      - "<TWITCH_API_CLIENT_ID>"
      Authorization:
      - Bearer abcdefg1234567890
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 131913,
            "name": "Maji Kyun! Renaissance"
          }
        ]
  recorded_at: Mon, 26 Aug 2024 01:16:03 GMT
recorded_with: VCR 6.3.1
